.blue_text {
    color: #005E9C;
}


.btn2 {
    border: none;
    outline: none;
}

.size-icon {
    width: 15px;
    height: 15px;
}

.content {
}

.tim_kiem {
    margin-top: 10px;
}

.header-main {
    background: #f1f1f1;
    height: 5%;
    line-height: 40px;
}

.search-main {
    display: flex;
    margin-left: -15px;
}

.reset-padding-margin {
    margin: 0px !important;
    padding: 0px !important;
}

.w-100 {
    width: 100%;
}

.h-35 {
    height: 30px;
}
.top-20{
    margin-top:20px;
}
.border-radius-none{
    border-radius:0px;
}
th{
    font-weight:normal;
}
